@import "./variables.scss";

.charactersTable__table {
    font-family: OpenSans-Regular;
    border-collapse: collapse;
    width: $width-100;
    border: $border-none;

    .charactersTable__link {
        text-decoration: none;
        color: rgb(11, 11, 194);
    }

    .charactersTable__link:hover {
        color: rgb(67, 105, 230);
    }

    td,
    th {
        border: 1px solid #ddd;
        padding: $padding;
        border: $border-none;
    }

    tr {
        font-size: $rem-1_2;
        color: gray;
        line-height: 1.2;
        font-weight: unset;
    }

    tr:nth-child(even) {
        background-color: #e4e2e2;
    }

    tr:nth-child(odd) {
        background-color: $color-white;
    }

    tr:hover {
        background-color: rgb(184, 184, 184);
    }

    th {
        padding-top: $padding;
        padding-bottom: $padding;
        text-align: left;
        background-color: #36304a;
        font-size: 1.5rem;
        color: $color-white;
        line-height: 1.2;
        font-weight: unset;
    }

    th:nth-child(1) {
        border-top-left-radius: 0.40rem;
      }
    th:nth-last-child(1) {
        border-top-right-radius: 0.40rem;
      }
}
