.searchField__container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;

  .searchField__input {
    width: 20rem;
    height: 1.5rem;
    // border: none;
    border-radius: 5px;
    padding: 0.25rem;
    // background-color: rgb(86, 86, 86);
    color: #000;
  }

  .searchField__input::placeholder {
    color: rgb(184, 181, 181);
  }
}