@import "./variables.scss";


.searchField__container {
  position: relative;
  padding: 0.30rem 0 0;
  margin-top: $rem-1;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $rem-1;
 


  .searchField__input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: $rem-1_2;
    color: $color-white;
    padding: 0.30rem 0;
    background: transparent;
    transition: border-color 0.2s;
  }


  .searchField__label {
    position: absolute;
    top: 0;
    display: block;
    transition: $transition;
    font-size: $rem-1_2;
    color: #fff;
  }


  .searchField__input:focus {
    ~.searchField__label {
      position: absolute;
      top: 0;
      display: block;
      transition: $transition;
      font-size: $rem-1;
      color: #fff;
    }

    padding-bottom: 0.20rem;
    font-weight: 700;
    border-width: 0.10rem;
  }
}