$display-flex: flex;
$flex-direction-column: column;
$cursor-pointer: pointer;
$width-100: 100%; 
$color-white: #fff; 
$border-none: none;
$rem-1: 1rem;
$rem-1_2: 1.2rem;
$transition: 0.2s;
$padding: 0.50rem;
